.banner
{
    background-color: rgb(94, 94, 94);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}


body
{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

::placeholder
{
    color:black;
}

input[type=number]
        {
            width: 270px;
            background-color: rgb(110, 110, 110);
            height: 100px;
            font-size: 35px;
            border: 2px solid rgb(197, 197, 197);
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 15px;
            box-sizing: border-box;
            transition: 0.3s;
            text-align: center;
            position: relative;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        input[type=number]:focus
        {
            border-color: rgb(182, 164, 0);
            box-shadow: 0 0 8px 0 rgb(182, 164, 0);
        }

        #basma-yuksekligi
        {
            font-size: 22px;
            left: 100px;
            top: 200px;
        }

        #guc
        {
            top: 200px;
        }
        #hidrolik-verim
        {
            font-size: 25px;
            left: 700px;
            top: 200px;
        }

        #motor-verimi
        {
            font-size: 32px;
            position: relative;
            top: 200px;
            right: 20px;
            
        }

        #submit
        {
            width: 270px;
            background-color: rgb(110, 110, 110);
            height: 100px;
            font-size: 35px;
            border: 2px solid rgb(197, 197, 197);
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 15px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            top: 400px;
            left: 530px;
        }

        .carp
        {
            width: 60px;
            height: 60px;
            position: relative;
            top: 225px;
            right: 940px;

        }

        .bolme
        {
            width: 70px;
            height: 70px;
            position: relative;
            top: 230px;
            right: 90px;
        }

        
        .iki
        {
            position: relative;
            right: 500px;
        }

        .equals
        {
            width: 60px;
            height: 60px;
            position: relative;
            top: 425px;
            right: 860px;
        }
